@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BBC Bold";
  src: url("/public/Assets/fonts/BBCReithSans_W_Bd.woff2");
}
@font-face {
  font-family: "BBC Normal";
  src: url("/public/Assets/fonts/BBCReithSans_W_Rg.woff2");
}

/* @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap"); */
/* @import url('https://db.onlinewebfonts.com/c/a1d0120b37754be8e80e39ab6ab95130?family=BBC+Reith+Sans:wght@400;600'); */

:root {
  /* font-family: "Outfit", sans-serif; */
  font-family: "BBC Normal";
}

#root {
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "BBC Bold";
}
.container {
  margin: auto;
  width: 80%;
}
.hover_bottom {
  position: relative;
}
.hover_bottom::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.1s ease-in;
}

.hover_bottom:hover::before {
  width: 100%;
}
.hover_bottom::before {
  background-color: currentColor;
}

.bg-overlay {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
.reel_bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://source.unsplash.com/random?mountains");
  background-size: cover;
  background-position: center;
}

.nature_bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url("https://source.unsplash.com/random?nature");
  background-size: cover;
  background-position: center;
}

[data-cke-tooltip-text="Insert image"] {
  display: none !important;
}

/** 1 **/
.load1 path:nth-of-type(1) {
  -webkit-animation: 2s cubic-bezier(0.19, 1, 0.22, 1) 0.15s infinite spinHalf;
  animation: 2s cubic-bezier(0.19, 1, 0.22, 1) 0.15s infinite spinHalf;
}

.load1 path:nth-of-type(2) {
  -webkit-animation: 2s cubic-bezier(0.19, 1, 0.22, 1) 0.3s infinite spinHalf;
  animation: 2s cubic-bezier(0.19, 1, 0.22, 1) 0.3s infinite spinHalf;
}

.load1 path:nth-of-type(3) {
  -webkit-animation: 2s cubic-bezier(0.19, 1, 0.22, 1) 0.45s infinite spinHalf;
  animation: 2s cubic-bezier(0.19, 1, 0.22, 1) 0.45s infinite spinHalf;
}

.load1 path:nth-of-type(4) {
  -webkit-animation: 2s cubic-bezier(0.19, 1, 0.22, 1) 0.6s infinite spinHalf;
  animation: 2s cubic-bezier(0.19, 1, 0.22, 1) 0.6s infinite spinHalf;
}

.load1 path:nth-of-type(5) {
  -webkit-animation: 2s cubic-bezier(0.19, 1, 0.22, 1) 0.75s infinite spinHalf;
  animation: 2s cubic-bezier(0.19, 1, 0.22, 1) 0.75s infinite spinHalf;
}

.load1 path:nth-of-type(6) {
  -webkit-animation: 2s cubic-bezier(0.19, 1, 0.22, 1) 0.9s infinite spinHalf;
  animation: 2s cubic-bezier(0.19, 1, 0.22, 1) 0.9s infinite spinHalf;
}

.load1 path:nth-of-type(7) {
  -webkit-animation: 2s cubic-bezier(0.19, 1, 0.22, 1) 1.05s infinite spinHalf;
  animation: 2s cubic-bezier(0.19, 1, 0.22, 1) 1.05s infinite spinHalf;
}

.load1 path:nth-of-type(8) {
  -webkit-animation: 2s cubic-bezier(0.19, 1, 0.22, 1) 1.2s infinite spinHalf;
  animation: 2s cubic-bezier(0.19, 1, 0.22, 1) 1.2s infinite spinHalf;
}

/** 2 **/
.load2 path:nth-of-type(1),
.load2 path:nth-of-type(5) {
  -webkit-animation: spin_full 2s linear infinite;
  animation: spin_full 2s linear infinite;
}

.load2 path:nth-of-type(2),
.load2 path:nth-of-type(6) {
  -webkit-animation: spin_full 2s linear infinite;
  animation: spin_full 2s linear infinite;
}

.load2 path:nth-of-type(3),
.load2 path:nth-of-type(7) {
  -webkit-animation: spin_full 2s linear infinite;
  animation: spin_full 2s linear infinite;
}

.load2 path:nth-of-type(4),
.load2 path:nth-of-type(8) {
  -webkit-animation: spin_full 2s linear infinite;
  animation: spin_full 2s linear infinite;
}

/** 3 **/
.load3 path:nth-of-type(1) {
  -webkit-animation: spin_full 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: spin_full 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

.load3 path:nth-of-type(2) {
  -webkit-animation: spin_full 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: spin_full 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

.load3 path:nth-of-type(3) {
  -webkit-animation: spin_full 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: spin_full 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

.load3 path:nth-of-type(4) {
  -webkit-animation: spin_full 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: spin_full 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

.load3 path:nth-of-type(5) {
  -webkit-animation: spin_full 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: spin_full 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

.load3 path:nth-of-type(6) {
  -webkit-animation: spin_full 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: spin_full 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

.load3 path:nth-of-type(7) {
  -webkit-animation: spin_full 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: spin_full 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

.load3 path:nth-of-type(8) {
  -webkit-animation: spin_full 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: spin_full 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

/** 4 **/
.load4 path:nth-of-type(1) {
  -webkit-animation: spin_single_neg 1.8s 0.1s cubic-bezier(0.19, 1, 0.22, 1)
    infinite;
  animation: spin_single_neg 1.8s 0.1s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

.load4 path:nth-of-type(2) {
  -webkit-animation: spin_single_neg 1.8s 0.2s cubic-bezier(0.19, 1, 0.22, 1)
    infinite;
  animation: spin_single_neg 1.8s 0.2s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

.load4 path:nth-of-type(3) {
  -webkit-animation: spin_single_neg 1.8s 0.3s cubic-bezier(0.19, 1, 0.22, 1)
    infinite;
  animation: spin_single_neg 1.8s 0.3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

.load4 path:nth-of-type(4) {
  -webkit-animation: spin_single_neg 1.8s 0.4s cubic-bezier(0.19, 1, 0.22, 1)
    infinite;
  animation: spin_single_neg 1.8s 0.4s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

.load4 path:nth-of-type(5) {
  -webkit-animation: spin_single_neg 1.8s 0.5s cubic-bezier(0.19, 1, 0.22, 1)
    infinite;
  animation: spin_single_neg 1.8s 0.5s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

.load4 path:nth-of-type(6) {
  -webkit-animation: spin_single_neg 1.8s 0.6s cubic-bezier(0.19, 1, 0.22, 1)
    infinite;
  animation: spin_single_neg 1.8s 0.6s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

.load4 path:nth-of-type(7) {
  -webkit-animation: spin_single_neg 1.8s 0.7s cubic-bezier(0.19, 1, 0.22, 1)
    infinite;
  animation: spin_single_neg 1.8s 0.7s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

.load4 path:nth-of-type(8) {
  -webkit-animation: spin_single_neg 1.8s 0.8s cubic-bezier(0.19, 1, 0.22, 1)
    infinite;
  animation: spin_single_neg 1.8s 0.8s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

/** 5 **/
.load5 path:nth-of-type(1) {
  -webkit-animation: spin_single 1.8s 0.1s cubic-bezier(0.115, 0.97, 0.14, 1)
    infinite;
  animation: spin_single 1.8s 0.1s cubic-bezier(0.115, 0.97, 0.14, 1) infinite;
}

.load5 path:nth-of-type(2) {
  -webkit-animation: spin_single 1.8s 0.2s cubic-bezier(0.115, 0.97, 0.14, 1)
    infinite;
  animation: spin_single 1.8s 0.2s cubic-bezier(0.115, 0.97, 0.14, 1) infinite;
}

.load5 path:nth-of-type(3) {
  -webkit-animation: spin_single 1.8s 0.3s cubic-bezier(0.115, 0.97, 0.14, 1)
    infinite;
  animation: spin_single 1.8s 0.3s cubic-bezier(0.115, 0.97, 0.14, 1) infinite;
}

.load5 path:nth-of-type(4) {
  -webkit-animation: spin_single 1.8s 0.4s cubic-bezier(0.115, 0.97, 0.14, 1)
    infinite;
  animation: spin_single 1.8s 0.4s cubic-bezier(0.115, 0.97, 0.14, 1) infinite;
}

.load5 path:nth-of-type(5) {
  -webkit-animation: spin_single 1.8s 0.5s cubic-bezier(0.115, 0.97, 0.14, 1)
    infinite;
  animation: spin_single 1.8s 0.5s cubic-bezier(0.115, 0.97, 0.14, 1) infinite;
}

.load5 path:nth-of-type(6) {
  -webkit-animation: spin_single 1.8s 0.6s cubic-bezier(0.115, 0.97, 0.14, 1)
    infinite;
  animation: spin_single 1.8s 0.6s cubic-bezier(0.115, 0.97, 0.14, 1) infinite;
}

.load5 path:nth-of-type(7) {
  -webkit-animation: spin_single 1.8s 0.7s cubic-bezier(0.115, 0.97, 0.14, 1)
    infinite;
  animation: spin_single 1.8s 0.7s cubic-bezier(0.115, 0.97, 0.14, 1) infinite;
}

.load5 path:nth-of-type(8) {
  -webkit-animation: spin_single 1.8s 0.8s cubic-bezier(0.115, 0.97, 0.14, 1)
    infinite;
  animation: spin_single 1.8s 0.8s cubic-bezier(0.115, 0.97, 0.14, 1) infinite;
}

/** 6 **/
.load6 path:nth-of-type(1) {
  -webkit-animation: spin_single 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  animation: spin_single 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.load6 path:nth-of-type(2) {
  -webkit-animation: spin_single 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  animation: spin_single 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.load6 path:nth-of-type(3) {
  -webkit-animation: spin_single 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  animation: spin_single 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.load6 path:nth-of-type(4) {
  -webkit-animation: spin_single 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  animation: spin_single 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.load6 path:nth-of-type(5) {
  -webkit-animation: spin_single 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  animation: spin_single 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.load6 path:nth-of-type(6) {
  -webkit-animation: spin_single 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  animation: spin_single 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.load6 path:nth-of-type(7) {
  -webkit-animation: spin_single 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  animation: spin_single 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.load6 path:nth-of-type(8) {
  -webkit-animation: spin_single 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  animation: spin_single 1s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

.pre path {
  transform-origin: center;
  transform-box: fill-box;
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@-webkit-keyframes spinHalf {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
}

@keyframes spinHalf {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin_full {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin_full {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin_single_neg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@keyframes spin_single_neg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}
@-webkit-keyframes spin_single {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes spin_single {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@media screen and (max-width: 645px) {
  :root {
    font-size: 12px;
  }
  .container {
    width: 85%;
  }
}

@media screen and (max-width: 1045px) {
  :root {
    font-size: 12px;
  }
}

a{
  text-decoration: underline;
}